Package: com.axs.wcreturngestures
Name: WCreturngestures
Version: 0.0.1
Architecture: iphoneos-arm
Description: 为微信扩展全屏滑动返回
Maintainer: Axs
Author: Axs
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
