Package: com.axs.wechattweak
Name: 微信输入框自定义
Depends: mobilesubstrate, firmware (>= 11.0)
Version: 1.0
Architecture: iphoneos-arm
Description: Customize WeChat input box and add custom entry
Maintainer: Axs
Author: Axs
Section: 微信插件
Icon: https://axs66.github.io/repo/icon/wechat.png
Sileodepiction: https://axs66.github.io/repo/sileodepiction/wechattweak/js.json
